
/*
google 思源黑體
http://fonts.googleapis.com/earlyaccess/notosanstc.css
https://tt5.org/webfont-%E7%89%88%E7%9A%84%E6%80%9D%E6%BA%90%E9%BB%91%E9%AB%94%E7%B5%82%E6%96%BC%E4%BE%86%E4%BA%86%EF%BC%81/
*/

@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }


body{
 font-family: 'Noto Sans TC', sans-serif;
 font-weight: 700;
}
#main{
  width : 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
#main .logo{
  height: 303px;
  text-align: center;
}
#main .menu{
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-top: 1px solid #8A8000;
  border-bottom: 1px solid #8A8000;
  margin-bottom: 33px;
  font-size: 28px;
  display: table;
  width: 100%;
  position: relative;
  z-index: 25;
}
#main .menu .item{
  width: 33%;
  height: 100%;
  cursor: pointer;
  display: table-cell;
  position: relative;
  color: black;
}
#main .menu .item:hover{
  background-color: #DCDDDD;
}
#main .menu .item>.en{
 color: #8A8000;
}
#main .menu a{
  text-decoration: none;
}
#main .menu .item .child_parent{
  position: absolute;
  width: 100%;
  display: none;
}
#main .menu .item .child{
  background-color: #8A8000;
  font-size: 18px;
  width: 100%;
  text-align: left;
  color: #ffffff;
  line-height: 24px;
  padding: 16px 30px;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
}
#main .menu .item .child .en{
  letter-spacing: 0px;
}
#main .menu .item:hover .child_parent{
  display: block;
}
#main .menu .item .child:hover{
  background-color: #000000;
}
#main .index_content{
  margin-bottom: 30px;
  font-size: 16px;
  width: 100%;
  padding-top: 10px;
  position: relative
}
#main .index_content .index_left{
  width: 523px;
  position: absolute;
}
#main .index_content .index_left .img_show{
  background-color: #8A8000;
  height: 380px;
  margin-bottom: 12px;
  background-size:100% 100%;
  background-repeat: no-repeat;
/*
  -webkit-transition: background-image 0.2s;
  transition: background-image 0.2s;
*/
}
#main .index_content .index_left .img_list>div{
  background-color: #8A8000;
  width: 80px;
  height: 60px;
  margin-right: 4px;
  display: inline-block;
  background-size : 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#main .index_content .index_left .img_list .active{
  outline: 4px solid #8a8000;
}
#main .index_content .index_right{
  margin-left: 548px;
  font-size: 16px;
  line-height: 20px;
}
#main .index_content .index_right .g1{
  font-size: 24px;
  line-height: 34px;
}
#main .index_content .index_right .g2{
  font-size: 24px;
  line-height: 34px;
  border-bottom: 2px solid #8A8000;
  margin-bottom: 18px;
  display: inline-block;
  
}
#main .index_content .index_right .g3{
  font-weight: 400;
}

#main .index_content .index_right .g4{
  width: 120px;
  height: 45px;
  background-color: #8A8000;
  border-radius: 13px;
  text-align: center;
  color: #ffffff;
  line-height: 45px;
  font-size: 22px;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block
}
#main .content a{
  color: #8A8000;
  text-decoration: none;
}
#main .content a:hover{
  border-bottom: 1px solid #8A8000;
}
#main .content .left{
  display: table-cell;
  vertical-align: top;
  width: 70%;
  padding-left: 30px;
}
#main .content .right{
  display: table-cell;
  vertical-align: top;
}
#main .content .left .block{
  margin-bottom: 26px
}
#main .content .left .logo_img{
  margin-bottom: 22px
}
#main .content .left h1{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
}
#main .content .left h2{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

#footer{
  background-color: #8A8000;
  height: 135px;
  min-width: 1000px;
  padding: 0 50px;
}
#footer .content{
  width : 900px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 16px;
  color: #ffffff;
}
#footer .content .left{
  float: left;
}
#footer .content .right{
  float: right;
  letter-spacing: 2px;
}
#footer .content ul li{
  display: inline-block;
  margin-right: 25px;
}
#footer .content ul li a{
  color: #ffffff;
  text-decoration: none;
}
#footer .content ul li a:hover{
/*  text-decoration: underline;*/
  border-bottom: 1px solid #ffffff;
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
